@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@source "../views";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";

select[multiple] {
    height: auto;
    min-height: 100px;
    overflow-y: auto;
    display: block;
}
